.THIS .slds-form-element{
     position: relative;
    min-width: 0;
    margin: -5px 0px 15px 0px;
}
.THIS .btnDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.THIS .btnn{
    border-radius: 14px;
    /* color: #080a08; */
    border-radius: 9px;
    box-shadow: 2px 1px 2px 1px rgb(206 206 206);
    text-shadow: 1px 0 #667cc2;
}